@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
 .nav-open{
    @apply overflow-hidden
 }
}

 swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
